[alias]
    co = checkout
    cm = commit
    glog = glog = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
    slog = log --show-signature
    smerge = merge -S --no-ff
    st = status
[color]
    ui = true
[commit]
    gpgSign = false
[core]
    autocrlf = input
    editor = vim
    excludesFile = ~/.gitignore_global
[gpg]
    program = gpg2
[help]
    autoCorrect = 1
[push]
    default = simple
[user]
    signingkey = 0x3A06DA6A0A7AB7B3795E8A7187F30257AE1E0000
    email = kra@diti.me
    name = Dimitri Torterat
